body {
  margin: 0;
  background-color: #0E1116;
  font-family: sans-serif;
  color: white;
}

.page_header {
  width: 100%;
  height: 80px;
  background-color: #0E1116;
  border-bottom: 1px solid #484F58;
  display:flex;
  justify-content: left;
}

.header_content {
  display: flex;
  align-items: center;
  height: 100%;
}

.header_content__page_header {
  margin-left: 20px;
}

.header_slash {
  color: #8A939E;
  font-size: 30px;
  font-weight: bolder;
}

.header_slash__header_content {
  margin-left: 20px;
}

.project_name {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.project_name__header_content {
  margin-left: 20px
}

.predict-form-container {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.predict-form {
  width: 500px;
  height: 300px;
  background-color: #171B21;
  border: 1px solid #484F58;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.input-text-label {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 13px;
}

.input-textarea {
  resize: none;
  background-color: #0E1116;
  border: 1px solid #484F58;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 22px;
  flex: 1;
  transition: outline 0.1s ease-out, border-color 0.2s ease-out;
}

.input-textarea:hover {
  border-color: #858585;
}

.input-textarea:focus {
  outline: 3px solid #9ABDEC !important;
}

.predict-button {
  background-color: white;
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 7px;
  font-size: 25px;
  font-weight: 600;
  margin: 15px auto 0 auto;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.predict-button:hover {
  box-shadow: 0 0 10px 1px white;
}

.predict-button:active {
  box-shadow: 0 0 5px 1px white;
}

.prediction-result {
  font-size: 80px;
}

.prediction-result--disaster {
  color: #ffdad2;
  text-shadow: 0 0 7px #ff2a00;
}

.prediction-result--not_disaster {
  color: #b2ffbc;
  text-shadow: 0 0 7px #00ff1e;
}

.prediction-result--no_result {
  color: white;
  text-shadow: 0 0 7px white;
}

.loader {
  width: 75px;
  height: 75px;
  border: 15px solid white;
  border-top-color: rgb(61, 206, 255);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn) }
  to { transform: rotate(1turn) }
}

.prediction-result-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}

.prediction-clarification {
  color: rgb(185, 185, 185);
  font-size: 17px;
}


@media screen and (max-width: 600px) {
  .page_header {
    justify-content: center;
  }

  .header_content__page_header {
    margin-left: 0;
  }

  .prediction-result {
    font-size: 50px;
  }

  .prediction-clarification {
    font-size: 13px;
  }
}

.loading_text {
  font-size: 25px;
}